[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
strawberry-graphql = {extras = ["fastapi"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
werkzeug = "*"
pydantic = {extras = ["email"], version = "*"}
pyjwt = "*"
redis = "*"
pydantic-settings = "*"
bcrypt = "*"
cryptography = "*"
passlib = {extras = ["bcrypt"], version = "*"}
celery = {extras = ["redis"], version = "*"}
alembic = "*"

[dev-packages]

[requires]
python_version = "3.10"
