[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
celery = "*"
psycopg2 = "*"
python-dotenv = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.10"
